.v-application--wrap {
  background: url("/_nuxt/assets/images/Fog-divided-by-sun-rays.jpg") no-repeat center center fixed;
  background-size: cover;
  &::before {
    background-color: #0065e0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
}
.main-nav {
  a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
  }
}